washingmachine.json
[{"id":"cf36d506.c34a98","type":"tab","label":"Salle de lavage","disabled":false,"info":""},{"id":"274c68e8.5747d8","type":"api-call-service","z":"cf36d506.c34a98","name":"","server":"deb235e1.e60748","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.washing_state","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":280,"wires":[[]]},{"id":"bdc43ea7.b70ad","type":"api-call-service","z":"cf36d506.c34a98","name":"","server":"deb235e1.e60748","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.washing_state","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":180,"wires":[[]]},{"id":"c2892930.988d48","type":"switch","z":"cf36d506.c34a98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"},{"t":"btwn","v":"0.02","vt":"num","v2":"0.99","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":670,"y":200,"wires":[["bdc43ea7.b70ad"],[],["274c68e8.5747d8"]]},{"id":"718d81bb.4978f","type":"switch","z":"cf36d506.c34a98","name":"Switch comm lavage","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":420,"wires":[["761c76e4.de2f78"],["3ed54963.459806"]]},{"id":"5eb5602a.fd1d8","type":"server-state-changed","z":"cf36d506.c34a98","name":"","server":"deb235e1.e60748","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.laveuse_electric_consumed_a","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":300,"y":260,"wires":[["c2892930.988d48"]]},{"id":"884d7902.8623a8","type":"trigger-state","z":"cf36d506.c34a98","name":"","server":"deb235e1.e60748","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.washing_state","entityidfiltertype":"exact","debugenabled":true,"constraints":[{"targetType":"entity_id","targetValue":"group.personnes","propertyType":"current_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"home","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":480,"wires":[["718d81bb.4978f"],["f291be0b.9768f"]]},{"id":"761c76e4.de2f78","type":"change","z":"cf36d506.c34a98","name":"demarré","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"\"le lavage est démarré\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":380,"wires":[["a0357703.686be8"]]},{"id":"4d3f9b9e.041e04","type":"trigger-state","z":"cf36d506.c34a98","name":"Laveuse en action ?","server":"deb235e1.e60748","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.laveuse_electric_consumed_a","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":200,"y":180,"wires":[[],["c2892930.988d48"]]},{"id":"927f2159.1afec","type":"inject","z":"cf36d506.c34a98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.01","payloadType":"num","x":110,"y":140,"wires":[["c2892930.988d48"]]},{"id":"a0357703.686be8","type":"ttsultimate","z":"cf36d506.c34a98","name":"","voice":"fr-CA","ssml":false,"sonosipaddress":"192.168.1.117","sonosvolume":"20","sonoshailing":"0","config":"5a22d92c.f04988","property":"payload","propertyType":{},"rules":[],"x":1250,"y":400,"wires":[[],[]]},{"id":"3ed54963.459806","type":"change","z":"cf36d506.c34a98","name":"terminé","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"\"le lavage est terminé\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":440,"wires":[["a0357703.686be8"]]},{"id":"ad77c539.ea0578","type":"comment","z":"cf36d506.c34a98","name":"Notification laveuse démarré et terminé  + gestion de la switch boolean","info":"","x":380,"y":40,"wires":[]},{"id":"3053990e.ed0976","type":"api-call-service","z":"cf36d506.c34a98","name":"Notification","server":"deb235e1.e60748","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_sm_g975w","entityId":"","data":"\t{\t   \"title\": payload,\t   \"message\": payload,\t   \"data\": {\t       \"ttl\": 0,\t       \"priority\": high,\t       \"channel\": alarm_stream\t            }\t}\t","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":1250,"y":620,"wires":[[]]},{"id":"16e04d05.581983","type":"change","z":"cf36d506.c34a98","name":"demarré","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Le lavage est démarré","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":600,"wires":[["3053990e.ed0976"]]},{"id":"a407922d.22c1e","type":"change","z":"cf36d506.c34a98","name":"terminé","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Le lavage est terminé","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":660,"wires":[["3053990e.ed0976"]]},{"id":"19e05dd8.860562","type":"inject","z":"cf36d506.c34a98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1.2","payloadType":"num","x":110,"y":100,"wires":[["c2892930.988d48"]]},{"id":"88309933.ad9258","type":"debug","z":"cf36d506.c34a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":660,"wires":[]},{"id":"e15d3c37.371e5","type":"debug","z":"cf36d506.c34a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":600,"wires":[]},{"id":"f291be0b.9768f","type":"switch","z":"cf36d506.c34a98","name":"Switch comm lavage","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":600,"wires":[["16e04d05.581983","e15d3c37.371e5"],["a407922d.22c1e","88309933.ad9258"]]},{"id":"deb235e1.e60748","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"5a22d92c.f04988","type":"ttsultimate-config","name":"Config","noderedipaddress":"192.168.1.131","noderedport":"1980","purgediratrestart":"leave","ttsservice":"googletranslate"}]