washingmachine.json
[{"id":"274c68e8.5747d8","type":"api-call-service","z":"cf36d506.c34a98","name":"","server":"deb235e1.e60748","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.washing_state","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":280,"wires":[[]]},{"id":"bdc43ea7.b70ad","type":"api-call-service","z":"cf36d506.c34a98","name":"","server":"deb235e1.e60748","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.washing_state","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":180,"wires":[[]]},{"id":"c2892930.988d48","type":"switch","z":"cf36d506.c34a98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"},{"t":"btwn","v":"0.02","vt":"num","v2":"0.99","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":670,"y":200,"wires":[["bdc43ea7.b70ad"],[],["274c68e8.5747d8"]]},{"id":"718d81bb.4978f","type":"switch","z":"cf36d506.c34a98","name":"Switch comm lavage","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":480,"wires":[["b6f4f264.5d88b"],["b6f4f264.5d88b"]]},{"id":"5eb5602a.fd1d8","type":"server-state-changed","z":"cf36d506.c34a98","name":"","server":"deb235e1.e60748","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.laveuse_electric_consumed_a","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":300,"y":260,"wires":[["c2892930.988d48"]]},{"id":"884d7902.8623a8","type":"trigger-state","z":"cf36d506.c34a98","name":"","server":"deb235e1.e60748","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.washing_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":480,"wires":[["718d81bb.4978f"],[]]},{"id":"761c76e4.de2f78","type":"change","z":"cf36d506.c34a98","name":"demarré","rules":[{"t":"set","p":"payload","pt":"msg","to":"message","tot":"msg"},{"t":"set","p":"message","pt":"msg","to":"le lavage est démarrer","tot":"str"},{"t":"set","p":"language","pt":"msg","to":"Fr-CA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":440,"wires":[["a0357703.686be8"]]},{"id":"4d3f9b9e.041e04","type":"trigger-state","z":"cf36d506.c34a98","name":"Laveuse en action ?","server":"deb235e1.e60748","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.laveuse_electric_consumed_a","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":200,"y":180,"wires":[[],["c2892930.988d48"]]},{"id":"927f2159.1afec","type":"inject","z":"cf36d506.c34a98","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.2","payloadType":"num","x":110,"y":140,"wires":[["c2892930.988d48"]]},{"id":"a0357703.686be8","type":"ttsultimate","z":"cf36d506.c34a98","name":"","voice":"fr-CA","ssml":false,"sonosipaddress":"192.168.1.117","sonosvolume":"20","sonoshailing":"0","config":"5a22d92c.f04988","property":"payload","propertyType":{},"rules":[],"x":1250,"y":480,"wires":[[],[]]},{"id":"3ed54963.459806","type":"change","z":"cf36d506.c34a98","name":"terminé","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"\"le lavage est terminé\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":520,"wires":[["a0357703.686be8"]]},{"id":"b6f4f264.5d88b","type":"api-current-state","z":"cf36d506.c34a98","name":"","server":"deb235e1.e60748","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"group.personnes","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":770,"y":480,"wires":[["761c76e4.de2f78"],["3ed54963.459806"]]},{"id":"deb235e1.e60748","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"5a22d92c.f04988","type":"ttsultimate-config","name":"Config","noderedipaddress":"192.168.1.131","noderedport":"1980","purgediratrestart":"leave","ttsservice":"googletranslate"}]